<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-10 content">
          <br/>
          <br/>
          
          <div class="d-flex justify-content-center">
                <h4 class="text-center title-employees-list ">Employees List</h4>
            </div>
          
            <hr>
           
            <div class="row align-items-center justify-content-center">
              <div class="col-md-6">
                <form class="d-flex me-auto w-50" role="search">
                  <div class="input-group w-100">
                    <span class="input-group-text bg-white border-end-0">
                      <i class="bi bi-search"></i>
                    </span>
                    <input class="form-control border-start-0" type="search" placeholder="Search for employees" aria-label="Search" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" (input)="filterEmployees()">
                </div>
                </form>
              </div>
             
              <div class="col-md-3" *ngIf="permissions !='R' ">
                <div class="col-auto">
                  <button type="button" class="text-white btn btn-outline-primary" (click)="navigateTo('/addEmp')"><a (click)="navigateTo('/addEmp')">
                      <i class="bi bi-person-plus-fill" style="font-size:20px; color: white; cursor: pointer;"></i>
                  </a>.  Add more users</button>
  
                    
                </div>
              </div>
              
            </div>
            <div class="container mx-auto py-8">
                <div class="row">
                    <div *ngFor="let employe of filteredEmployes" class="col-12 col-sm-6 col-lg-4 mb-4">
                        <div class="card w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                            <div class="card-body flex flex-col items-center pb-10">
                                <br/>
                                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" [src]="employe.photo ? employe.photo : (employe.sexe === 'male' ? 'https://i.pinimg.com/564x/17/bd/44/17bd44db6eb35c02fa400fc9ddddbc63.jpg' : 'https://i.pinimg.com/564x/91/97/b1/9197b19611593aee1d1afc42f8ef02c8.jpg')" alt="{{ employe.name }} image" alt="image description" />
                                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{ employe.name }}</h5>
                                <span class="text-sm text-gray-500 dark:text-gray-400">{{ employe.email }}</span>
                                <span class="text-sm text-gray-500 dark:text-gray-400">{{ employe.department }}</span>
                                <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
                                <div class="d-flex align-items-center w-100 px-4 justify-content-between">
                                    <a (click)="viewEmployeDetails(employe._id)" *ngIf="permissions == 'All'" class="me-auto">
                                        <i class="bi bi-pencil-square text-blue-500 hover:text-blue-700"></i>
                                    </a>
                                    <button class="btn btn-outline-primary mx-auto" style="font-size: 15px;" (click)="showleaveRequests(employe._id)">
                                        Show leave requests
                                    </button>
                                    <a (click)="deleteEmploye(employe._id)" *ngIf="permissions == 'All'" class="ms-auto">
                                        <i class="bi bi-trash text-red-500 hover:text-red-700"></i>
                                    </a>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="showDeletedToast" id="toast-danger" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
                    </svg>
                    <span class="sr-only">Error icon</span>
                </div>
                <div class="ms-3 text-sm font-normal">Item has been deleted.</div>
                <button type="button" (click)="closeToast()" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-danger" aria-label="Close">
                    <span class="sr-only">Close</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
  </div>
  